<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="playerBootstrap" class="ces.augusto108.musicplayer.bootstrap.PlayerBootstrap"></bean>

    <bean name="playerServiceImpl" class="ces.augusto108.musicplayer.services.PlayerServiceImpl"></bean>
    <bean name="easyListeningPlayerService" class="ces.augusto108.musicplayer.services.EasyListeningPlayerService"></bean>
    <bean name="britPopPlayerService" class="ces.augusto108.musicplayer.services.BritPopPlayerService"></bean>
    <bean name="alternativeRockPlayerService" class="ces.augusto108.musicplayer.services.AlternativeRockPlayerService"></bean>
    <bean name="hardRockPlayerService" class="ces.augusto108.musicplayer.services.HardRockPlayerService"></bean>

</beans>